.modal {
    display: none;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.3);
    &__inner {
        margin-top: 160px;
        max-width: 440px;
        padding: 40px, 20px;
        background: aliceblue;
        padding: 40px 20px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    &--active {
        display: block;
    }
    &__heading {

    }
}
.modal-form {
    &__input {
        width: 100%;
        padding: 5px;
        display: block;
        margin-bottom: 10px;
    }
}
.button-holder {
    margin-top: 30px;
    &__red {

    }
    &__green {
     
    } 
}

